<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <div class="wrapper">
        <form class="sidebar" action="{{ url_for('api.loginroute') }}" method="post">
            <header>
                <p>Войти</p>
            </header>
            <div>
                <input tabindex="1" placeholder="E-mail" type="text" name="email" required>
                <input tabindex="2" placeholder="Password" type="password" name="password" required>
            </div>
            <button class="btn btn-positive" type="submit">Войти</button>
        </form>
    </div>
</body>
</html>