<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="sidebar" tabindex="-1">
        <nav>
            {%- for key, route in routes.items() -%}
            <a href="{{ '/' + route.href }}">{{route.icon | safe}}
                <span class="text__link">{{ route.title }}</span>
            </a>
            <div class="burger">
                {%- for method in route.methods -%}
                <a href="{{ '/' + route.href + '#' + method.method }}">{{method.icon | safe}}
                    <span class="text__link">{{ method.method }}</span>
                </a>
                {%- endfor -%}
            </div>
            {%- endfor -%}
        </nav>
    </div>
    <main>
        {%- for method in methods.methods -%}
        <h2 id="{{ method.method.upper() }}">{{ method.method.upper() }}</h2>
        <h4>{{ method.description }}</h4>
        <pre>{{ method.params }}</pre>
        <h4>Возвращяемый объект:</h4>
        <pre>{{ method.results }}</pre>
        {%- endfor -%}
    </main>
</div>
</body>
</html>